
<information>
<debug>0</debug>
<version-major>1</version-major>
<version-minor>1</version-minor>
<version-revision>0</version-revision>
<version-build>1</version-build>

		
<server-ip>183.131.146.133</server-ip>
<server-port>15124</server-port>
<cache-ip>183.131.146.133</cache-ip>
<cache-port>9999</cache-port>	



<purchase-ip>183.131.146.133</purchase-ip>
<purchase-port>8080</purchase-port>
<purchase-url>gamesupport/appleStore/getResult</purchase-url>

<createOrder-ip>183.131.146.133</createOrder-ip>
<createOrder-port>8080</createOrder-port>
<createOrder-url>gamesupport/appleStore/createReceipt</createOrder-url>

<appleUrl>https://buy.itunes.apple.com/verifyReceipt</appleUrl>


</information>